{% extends 'dashboard/base/index.html' %} 
{% load static %} 
{% block content %}


    <div class="content-wrapper">
      <div class="content">
 

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <span class="mdi mdi-home"></span>
                </a>
              </li>
              <li class="breadcrumb-item">components</li>
              <li class="breadcrumb-item" aria-current="page">table</li>
              
            </ol>
          </nav>
        <div class="input-group justify-content-end">
                        <form action="{% url 'dashboard:blogs' %}" method="GET" class="form-inline">
                          <input
                            type="text"
                            name="title"
                            class="form-control float-right searchInput"
                            id="SearchBlog"
                            placeholder="Blog Title"
                          />
                          <input
                            type="text"
                            name="quotes_by"
                            class="form-control float-right searchInput"
                            id="SearchBlog"
                            placeholder="Author"
                          />
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                              <span class="mdi mdi-magnify"></span>
                            </button>
                          </div>
                        </form>
                      </div>
  
        

        
<div class="row">
            
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom justify-content-between">
											<h2>BLOGS</h2>
                    <a href="{% url 'dashboard:blogs-create' %}"  type="button" class="mb-1 btn btn-outline-primary">Add Blog</a>
          
                      
</div>
<div class="card-body">
							<table class="table table-hover ">
												<thead>
													<tr>
														<th scope="col">SID</th>
														<th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
													</tr>
												</thead>
												<tbody>
                          {% for blogs in object_list %} 
													<tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{blogs.title}}</td>
                            <td>{{blogs.date}}</td>
                            <td>{{blogs.description|safe|truncatewords:5}}</td>
                            <td><img width="100px" height="100px" src="{{ blogs.image.url }}" alt="" /></td>
                            <td>
                                <span>
                                <a href="{% url 'dashboard:blogs-update' blogs.pk%}" class="btn btn-sm btn-success"> <span class ="mdi mr-1 mdi-square-edit-outline">Edit</span></a>
                                </span>
                                <span>
                                <a  href="{% url 'dashboard:blogs-delete' blogs.pk %}"class="btn btn-sm btn-danger delete"><span class ="mdi mr-1 mdi-trash-can">Delete</span></a>
                                 </span>
                                </td>

													</tr>
                          {%endfor%}
												</tbody>
											</table>
										</div>
									</div>
              </div>
        </div>
 </div>

{% endblock %}
{% block script %}
<script>
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                    window.location.href = $(this).attr('href');

                }
            });
    })
</script>
{% endblock %}