{% extends 'dashboard/auth/base.html' %}
{% block content %}
            <div class="card-body p-5">

            <h4 class="text-dark mb-5">Change Password</h4>
           <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-12 mb-4"> 
                    {{ form.old_password }}
                    <span style="color:red">{{ form.old_password.errors }}</span>
                  </div>
                  <div class="form-group col-md-12 ">
                      {{ form.new_password1 }}
                  </div>
                  <div class="form-group col-md-12 ">
                      {{ form.new_password2 }}
                      <span style="color:red">{{ form.new_password1.errors }}</span>
                  </div>
                  
                    <button class="btn btn-secondary" type="submit">Change Password</button>
                </div> 
                
            </form> 
            {% comment %} {{ form.as_p }} {% endcomment %}
             {% comment %} <button class="btn btn-secondary" type="submit">Change Password</button> {% endcomment %}
            </div>
{% endblock %}       