
{% extends 'dashboard/auth/base.html' %}
{% block content %}
  <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="/" class="h1"><b>Ekocart</a>
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <p class="form-error">{{error}}</p>

            <!-- {{form.as_p}} -->
            <div class="input-group mb-3">
              {{ form.email}} 
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
               <span class='form-error'> {{form.errors.email}}</span>
            </div>
         
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">
                  Send Reset Email
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>


          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

{% endblock %}