{% extends 'dashboard/base/index.html' %} 
{% block title %} New Category{% endblock %}
{% load static %} 
{% block content %}

<div class="content-wrapper">
    <div class="content">							
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Add new category</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" id="category_form" data-related-category="{% url 'dashboard:type-related-category' %}">
                            {% csrf_token %}
                            {{form.media}}
                             <span class= 'form-error'>{{ form.errors.slug }}</span>
                            <div class="row form-group">
                             
                                <div class="col-md-12 col-sm-12">
                                    <label for="exampleFormControlInput1">Category Name</label>
                                {{form.name}}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Catogory Type</label>
                                    {{form.category_type}}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Parent</label>
                                    {{form.parent}}
                                </div>
                                {% comment %} <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlPassword">Description</label>
                                    {{form.description}}
                                </div> {% endcomment %}
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <p>{{form.description}}</p>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Images</label>
                                {{form.img}}
                            </div>
                            <div class="form-footer pt-4 pt-5 mt-4 border-top ">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <button class="btn btn-secondary btn-default">
                                 <a class="text-white" href="{% url 'dashboard:categories' %}">Cancel</a>
                                 </button>
                            </div>
                        </form>
                    </di>
                </div>
            </div>
        </div>
    </div>
  </div>



{% endblock %}
{% block script %}

<script>
    $("#id_category_type").change(function () {
      var url = $("#category_form").attr("data-related-category");  // get the url of the `load_cities` view
      var TypeId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'type': TypeId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_parent").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
  </script>
  {% endblock %}