{% extends 'dashboard/base/base.html' %}
{% block title %} New Product {% endblock %}
{% block style %}
<style>
{% include 'dashboard/documents/upload-file.css' %}
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content">							
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Basic Form Controls</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" id="category_form" data-related-category="{% url 'dashboard:type-related-category' %}">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="row form-group">
                                <div class="col-md-4 col-sm-12">
                                    <label for="exampleFormControlInput1">Product Type</label>
                                    {{ form.category_type }}
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="exampleFormControlInput1">Category </label>
                                    {{ form.categories }}
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="exampleFormControlPassword">Brand</label>
                                    {{ form.brands }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Product Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlPassword">Slug (unique*)</label>
                                    {{ form.slug }}
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Marked Price</label>
                                    {{ form.marked_price }}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Selling Price</label>
                                    {{ form.selling_price }}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlPassword">discount percent</label>
                                    {{ form.discount_percent }}
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-4 col-sm-12">
                                    <label for="exampleFormControlInput1">Size</label>
                                    {{ form.size }}
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="exampleFormControlInput1">Color</label>
                                    {{ form.color }}
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <label for="exampleFormControlInput1">Status </label>
                                    {{ form.status }} <span>Available</span>
                                </div>
                                
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-4 col-sm-6">
                                    <label for="exampleFormControlPassword">VAT Inclusive</label>
                                    {{ form.vat_incl }} <span>Yes</span>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="exampleFormControlInput1">VAt Percent </label>
                                    {{ form.vat_percent }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1"></label>
                                {% include 'dashboard/product/upload-image.html' %}
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <p>
                                {{ form.description }}
                                </p>
                            </div>
                            
                            <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:products' %}" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
{% include 'dashboard/documents/upload-file.js' %}
</script>
{% endblock %}