{% extends 'dashboard/base/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="content">					        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:dashboard' %}">
                    <span class="mdi mdi-home"></span>                
                    </a>
                </li>
                <li class="breadcrumb-item">
                    Out
                </li>
                <li class="breadcrumb-item" aria-current="page">Products</li>
                </ol>

            </nav>
               <div class="input-group justify-content-end">
                    <form action="{% url 'dashboard:product-list' %}" method="GET" class="form-inline">
                       <input
                            type="text"
                            name="name"
                            class="form-control float-right searchInput"
                            id="Search"
                            placeholder="name"
                          />
                        <input
                            type="text"
                            name="brands"
                            class="form-control float-right searchInput"
                            id="Search"
                            placeholder="brands"
                          />
                        <input
                            type="text"
                            name="categories"
                            class="form-control float-right searchInput"
                            id="Search"
                            placeholder="category"
                          />

                      <div class="input-group-append">
                        <button type="submit" class="mb-1 btn btn-success">
                          <span class="mdi mdi-magnify"></span>
                        </button>
                      </div>
                    </form>
            </div>
           
        
              
        <div class="row">
            
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom justify-content-between">

                        <h2>Product List</h2>
                       
                        <a href="{% url 'dashboard:product-create' %}"  type="button" class="mb-1 btn btn-outline-primary ">Add Product</a>
              
                    </div>
        
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Subcategory</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in object_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.brands }}</td>
                                    <td>
                                        {% for img in product.image.all|slice:1 %}
                                        <img width="100px" height="100px" src="{{ img.image.url}}" alt="">
                                        {% endfor %}
                                    </td>
                                    <td>{{ product.categories }}</td>
                                    <td>{{ product.categories.parent }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>
                                        {% if product.status %}
                                        <span>In Stock</span>
                                        {% else %}
                                        <span>Out of Stock </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span>
                                            <a href="{% url 'dashboard:product-update' product.slug %}" class="btn btn-sm btn-success"><span class ="mdi mr-1 mdi-square-edit-outline">Edit</span></a>
                                        </span>
                                        <span>
                                            <a href="{% url 'dashboard:product-delete' product.slug %}" class="btn btn-sm btn-danger delete"><span class ="mdi mr-1 mdi-trash-can">Delete</span></a>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>				
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                    window.location.href = $(this).attr('href');

                }
            });
    })
</script>
{% endblock %}