{% extends 'dashboard/base/index.html' %} 
{% block style %}
	<style>
		.select2-selection__choice__display{
			color: black;
		}

    #image_preview.img {
      display: inline;
    }
	</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content">							
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Add New User Form</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Username</label>
                                    {{ form.username }}
                                     <span class="form-error">{{ form.errors.username }}</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlPassword">Email</label>
                                    {{ form.email}}
                                     <span class="form-error">{{ form.errors.email }}</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Address</label>
                                    {{ form.address }}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlPassword">Contact No.</label>
                                    {{ form.mobile }}
                                     <span class="form-error">{{ form.errors.mobile }}</span>
                                </div>
                            </div>
                        
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Image</label>
                                    {{ form.image}}

                                 <div class="form-group col-md-6 col-sm-12">
                          <img src="" id="frame" alt="" width="100px" height="100px">
                      </div> 
                                </div>
                                
                      <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Group</label>
                                    {{ form.groups}}
                                </div>

                      </div>
                            <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:users' %}" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
                        </form>
                    </di>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
function preview() {
  frame.src=URL.createObjectURL(event.target.files[0]);
}
</script>
<script>
	$(document).ready(function() {
    	$('.feature-select').select2();
}	);
  </script>
{% endblock %}

