{% load static %}
<div class="modal-header border-bottom-0 pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
    </button>

  <div class="modal-body">
    <div class="row align-items-center" id='quick-view-content'>
        {% for img in product.image.all|slice:1 %}
      <div class="col-lg-5 col-12">
        <img class="img-fluid rounded" id="quick-img" src="{{ img.image.url }}" alt="" />
      </div>
      {% endfor %}
      <div class="col-lg-7 col-12 mt-5 mt-lg-0">
        <div class="product-details">
          <h3 class="mb-0">{{ product.name }}</h3>
          <div class="star-rating mb-4"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
          </div> <span class="product-price h4">Nrs. {{ product.selling_price }} {% if product.discount_percent %} <del class="text-muted h6">Nrs. {{ product.marked_price }}</del>{% endif %}</span>
          <ul class="list-unstyled my-4">
            <li class="mb-2">Availibility:<span class="text-muted">{% if product.status %}  In Stock {% else %}Out of Stock {% endif %}</span> 
            </li>
            <li>Categories :<span class="text-muted"> {{ product.type }}</span>
            </li>
          </ul>
          <p class="mb-4">{{ product.description|safe }}</p>
          <div class="d-sm-flex align-items-center mb-5">
            <div class="d-flex align-items-center mr-sm-4">
                <button class="btn-product btn-product-up"> <i class="las la-minus"></i>
                </button>
                <input name='quantity' class="form-product" type="number" name="form-product" value="1">
                <button class="btn-product btn-product-down"> <i class="las la-plus"></i>
                </button>
            </div>
            <select class="custom-select mt-3 mt-sm-0" id="inputGroupSelect01">
                <option selected>Size</option>
                {% for size in product.size.all %}
                <option value="{{ size.name }}">{{ size.name }}</option>
                {% endfor %}
            </select>
            <div class="d-flex text-center ml-sm-4 mt-3 mt-sm-0">
              <div class="form-check pl-0 mr-3">
                <input type="radio" class="form-check-input" id="color-filter01" name="Radios">
                <label class="form-check-label" for="color-filter01" data-bg-color="#3cb371"></label>
              </div>
              <div class="form-check pl-0 mr-3">
                <input type="radio" class="form-check-input" id="color-filter02" name="Radios" checked>
                <label class="form-check-label" for="color-filter02" data-bg-color="#4876ff"></label>
              </div>
              <div class="form-check pl-0 mr-3">
                <input type="radio" class="form-check-input" id="color-filter03" name="Radios">
                <label class="form-check-label" for="color-filter03" data-bg-color="#0a1b2b"></label>
              </div>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter04" name="Radios">
                <label class="form-check-label" for="color-filter04" data-bg-color="#f94f15"></label>
              </div>
            </div>
          </div>
          <div class="d-sm-flex align-items-center mt-5">
            <a href="{% url 'home:add-to-cart' product.pk %}" class="btn btn-primary btn-animated mr-sm-4 mb-3 mb-sm-0"><i class="las la-shopping-cart mr-1"></i>Add To Cart</a>
            <a class="btn btn-animated btn-dark" href="#"> <i class="lar la-heart mr-1"></i>Add To Wishlist</a>
          </div>
          <div class="d-sm-flex align-items-center border-top pt-4 mt-5">
            <h6 class="mb-sm-0 mr-sm-4">Share It:</h6>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-facebook"></i></a>
              </li>
              <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-dribbble"></i></a>
              </li>
              <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-instagram"></i></a>
              </li>
              <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-twitter"></i></a>
              </li>
              <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>