{% extends 'dashboard/base/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="content">							

                 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:dashboard' %}">
                    <span class="mdi mdi-home"></span>                
                    </a>
                </li>
                <li class="breadcrumb-item">
                    Our
                </li>
                <li class="breadcrumb-item" aria-current="page">Colors</li>
                </ol>

            </nav>
            
<div class="input-group justify-content-end">
                    <form action="{% url 'dashboard:colors' %}" method="GET" class="form-inline">
                      <input type="text" name="title" class="form-control float-right searchInput"
                        id="SearchTitle"
                        placeholder="title"
                      />
                      <div class="input-group-append">
                         <button type="button" class="mb-1 btn btn-secondary">
                          <span class="mdi mdi-magnify"></span>
                        </button>
                      </div>
                    </form>
                  </div>


        <div class="row ">
            
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom justify-content-between">
                        <h2>Colors List</h2>
                        <a href="{% url 'dashboard:color-create' %}" type="button" class="mb-1 btn btn-outline-primary">Add Colors</a>


                    </div>
                    
                    
                    <div class="card-body">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Image</th>
                                    <th width="25%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for color in object_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ color.title }}</td>
                                    <td>{{ color.image }}</td>

                                    <td>
                                    <span>
                                            <a href="{% url 'dashboard:color-update' color.pk %}" class="btn btn-sm btn-success"><span class ="mdi mr-1 mdi-square-edit-outline">Edit</span></a>
                                        </span>
                                        <span>
                                            <a href="{% url 'dashboard:color-delete' color.pk %}" class="btn btn-sm btn-danger delete"><span class ="mdi mr-1 mdi-trash-can">Delete</span></a>
                                        </span>

                                      
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>				
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}