{% extends 'dashboard/base/base.html' %}
{% block title %} Edit Contact {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content">							
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Basic Form Controls</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                           
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Contact Address</label>
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Email </label>
                                    {{ form.email }}
                                </div>   
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Phone </label>
                                    {{ form.phone }}
                                </div>   
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Working hours </label>
                                    {{ form.working_hours }}
                                </div>   
                            </div>
                            
                            
                            <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:contacts' %}" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
