<!--footer start-->
{% load static %}

<footer class="py-11 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3"> <a class="footer-logo text-white h2 mb-0" href="index.html">
              Eko<span class="text-primary">cart</span>
            </a>
        <p class="my-3 text-muted">Ekocart - Multipurpose eCommerce HTML5 Template Is fully responsible, Build whatever you like with the Ekocart, Ekocart is the creative, modern HTML5 Template suitable for Your business.</p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-dribbble"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-instagram"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-twitter"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 mt-6 mt-lg-0">
        <div class="row">
          <div class="col-12 col-sm-4 navbar-dark">
            <h5 class="mb-4 text-white">Quick Links</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="about-us-1.html">About</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="product-grid.html">Shop</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="faq.html">Faq</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="blog-card.html">Blogs</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
            <h5 class="mb-4 text-white">Top Products</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link" href="#">T-Shirts</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Sneakers & Athletic</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Shirts & Tops</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Sunglasses</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Bags & Wallets</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Accessories</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
            <h5 class="mb-4 text-white">Features</h5>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link" href="terms-and-conditions.html">Term Of Service</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="privacy-policy.html">Privacy Policy</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Support</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Shipping & Returns</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link" href="#">Careers</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Our Story</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-3 mt-6 mt-lg-0">
      {% for contact in contact|slice:1 %}
        <div class="d-flex mb-3">
          <div class="mr-2"> <i class="las la-map ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-light">Store address</h6>
            <p class="mb-0 text-muted">{{ contact.address }}</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-2"> <i class="las la-envelope ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-light">Email Us</h6>
            <a class="text-muted" href="mailto:themeht23@gmail.com">{{ contact.email }}</a>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-2"> <i class="las la-mobile ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-light">Phone Number</h6>
            <a class="text-muted" href="tel:+912345678900">{{ contact.phone }}</a>
          </div>
        </div>
        <div class="d-flex">
          <div class="mr-2"> <i class="las la-clock ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-light">Working Hours</h6>
            <span class="text-muted">{{ contact.working_hours }}</span>
          </div>
        </div>
         {% endfor %}
      </div>
     
    </div>
     
    <hr class="my-8">
    <div class="row text-muted align-items-center">
      <div class="col-md-7">Copyright ©{% now Y%} All rights reserved | This Template is made by <i class="lar la-heart text-primary heartBeat2"></i>  <u><a class="text-primary" href="#">ThemeHt</a></u>
      </div>
      <div class="col-md-5 text-md-right mt-3 mt-md-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#">
              <img class="img-fluid" src="{% static 'home/assets/images/pay-icon/01.png'%}" alt="">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img class="img-fluid" src="{% static 'home/assets/images/pay-icon/02.png'%}" alt="">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img class="img-fluid" src="{% static 'home/assets/images/pay-icon/03.png'%}" alt="">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img class="img-fluid" src="{% static 'home/assets/images/pay-icon/04.png'%}" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->

<!-- Cart Modal -->
<div class="modal fade cart-modal" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if cart_products %}
        <h5 class="modal-title" id="ModalLabel">Your Cart ({{ cart_products.count }})</h5>
        {% else %}
        <h5 class="modal-title" id="ModalLabel">No cart</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for cart in cart_products %}
        <div>
          <div class="row align-items-center">
            <div class="col-5 d-flex align-items-center">
              <div class="mr-4">
                <button type="submit" class="btn btn-primary btn-sm"><i class="las la-times"></i>
                </button>
              </div>
              <!-- Image -->
              {% for img in cart.product.image.all|slice:1 %}
              <a href="{% url 'home:product-detail' cart.product.id %}">
                <img class="img-fluid" src="{{ img.image.url }}" alt="...">
              </a>
              {% endfor %}
            </div>
            <div class="col-7">
              <!-- Title -->
              <h6><a class="link-title" href="{% url 'home:product-detail' cart.product.id %}">{{ cart.product.name }}</a></h6>
              <div class="product-meta"><span class="mr-2 text-primary">{{ cart.rate }}</span><span class="text-muted">x {{ cart.quantity }}</span>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5">
        {% endfor %}
        <div class="d-flex justify-content-between align-items-center mb-8"> <span class="text-muted">Subtotal:</span>  <span class="text-dark">Nrs. {{ subtotal }}</span> 
        </div> <a href="{% url 'home:my-cart' %}" class="btn btn-primary btn-animated mr-2"><i class="las la-shopping-cart mr-1"></i>View Cart</a>
        <a href="product-checkout.html" class="btn btn-dark"><i class="las la-money-check mr-1"></i>Continue To Checkout</a>
      </div>
    </div>
  </div>
</div>


<!-- Quick View Modal -->
<div class="modal fade view-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center" id='quick-view-content'>
          <div class="col-lg-5 col-12">
            <img class="img-fluid rounded" id="quick-img" src="{% static 'home/assets/images/product/large/01.png'%}" alt="" />
          </div>
          <div class="col-lg-7 col-12 mt-5 mt-lg-0">
            <div class="product-details">
              <h3 class="mb-0">Women Sweater</h3>
              <div class="star-rating mb-4"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
              </div> <span class="product-price h4">$25.00 <del class="text-muted h6">$35.00</del></span>
              <ul class="list-unstyled my-4">
                <li class="mb-2">Availibility: <span class="text-muted"> In Stock</span> 
                </li>
                <li>Categories :<span class="text-muted"> Women's</span>
                </li>
              </ul>
              <p class="mb-4">Nulla eget sem vitae eros pharetra viverra Nam vitae luctus ligula suscipit risus nec eleifend Pellentesque eu quam sem, ac malesuada</p>
              <div class="d-sm-flex align-items-center mb-5">
                <div class="d-flex align-items-center mr-sm-4">
                  <button class="btn-product btn-product-up"> <i class="las la-minus"></i>
                  </button>
                  <input class="form-product" type="number" name="form-product" value="1">
                  <button class="btn-product btn-product-down"> <i class="las la-plus"></i>
                  </button>
                </div>
                <select class="custom-select mt-3 mt-sm-0" id="inputGroupSelect01">
                  <option selected>Size</option>
                  <option value="1">XS</option>
                  <option value="2">S</option>
                  <option value="3">M</option>
                  <option value="3">L</option>
                  <option value="3">XL</option>
                  <option value="3">XXL</option>
                </select>
                <div class="d-flex text-center ml-sm-4 mt-3 mt-sm-0">
                  <div class="form-check pl-0 mr-3">
                    <input type="radio" class="form-check-input" id="color-filter01" name="Radios">
                    <label class="form-check-label" for="color-filter01" data-bg-color="#3cb371"></label>
                  </div>
                  <div class="form-check pl-0 mr-3">
                    <input type="radio" class="form-check-input" id="color-filter02" name="Radios" checked>
                    <label class="form-check-label" for="color-filter02" data-bg-color="#4876ff"></label>
                  </div>
                  <div class="form-check pl-0 mr-3">
                    <input type="radio" class="form-check-input" id="color-filter03" name="Radios">
                    <label class="form-check-label" for="color-filter03" data-bg-color="#0a1b2b"></label>
                  </div>
                  <div class="form-check pl-0">
                    <input type="radio" class="form-check-input" id="color-filter04" name="Radios">
                    <label class="form-check-label" for="color-filter04" data-bg-color="#f94f15"></label>
                  </div>
                </div>
              </div>
              <div class="d-sm-flex align-items-center mt-5">
                <button class="btn btn-primary btn-animated mr-sm-4 mb-3 mb-sm-0"><i class="las la-shopping-cart mr-1"></i>Add To Cart</button>
                <a class="btn btn-animated btn-dark" href="#"> <i class="lar la-heart mr-1"></i>Add To Wishlist</a>
              </div>
              <div class="d-sm-flex align-items-center border-top pt-4 mt-5">
                <h6 class="mb-sm-0 mr-sm-4">Share It:</h6>
                <ul class="list-inline">
                  <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-facebook"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-dribbble"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-instagram"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-twitter"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="bg-white shadow-sm rounded p-2" href="#"><i class="la la-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



