{% extends 'dashboard/base/base.html' %}
{% block title %} New Tag {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content">							
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Create Tag</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                           
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Tag</label>
                                    {{ form.title }}
                                    <span class="form-error">{{ form.errors.title }}</span>
                                </div>
                            </div>
                            
                            
                            <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:tags' %}" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
                        </form>
                    </di>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
